/* Generales*/
.margin-all {
    margin-top: 16px;
}
.flexing-box {
    display: flex;
}
/* Estilos buscador */

.navBar-color {
    background-color: #FFE600;
}
.nav-inner-div {
    display: flex;
}
.navbar-expand {
    justify-content: center !important;
}
.nav-search-input {
    padding: 7px 60px 9px 15px;
    border-radius: 2px;
    border: 0 rgba(0,0,0,.2);
    height: 39px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    width: 1000px;
    display: inline-block;
}
.nav-button-search {
    background-image: none;
    height: 39px;
    padding-top: 2px;
    background-color: #EEEEEE;
    border-color: #EEEEEE;
    border-radius: 0px;
}

.nav-button-search:hover {
    background-color: #EEEEEE;
}

/* Estilos lista de items */
.list-pointer {
    cursor: pointer;
}
.thumbnail-fit {
    width: 180px;
    height: 180px;
    border-radius: 4px;
    margin:16px;
}

.price-list {
    margin-bottom:32px;
    font-size:24px;
    color: #333333
}
.title-list {
    font-size: 18px;
    color: #666666;
}
.title-list::first-letter {
    text-transform: uppercase;
}
.city-list {
    font-size: 12px;
    color: #999999;
}

.breadcrumb a {
    font-size: 14px;
    color: #999999;
    text-decoration: none;
}
.breadcrumb-item + .breadcrumb-item::before {
    content:var(--bs-breadcrumb-divider, ">") /* rtl: var(--bs-breadcrumb-divider, "/") */;
    color: #999999;
    margin-top: -2px;
}

/* Estilos del detalle del producto */

.carousel-image {
    width: 680px;
    height: 480px;
}

.title-description {
    font-size: 28px;
    color: #666666;
}

.text-description {
    font-size: 16px;
    color: #999999;
    text-align: justify;
}
.conditions-product-card {
    margin-top:32px;
    font-size: 14px;
    color: #666666
}
.conditions-product-card::first-letter {
    text-transform: uppercase;
}
.title-product-card {
    margin-top:16px;
    font-size:24px;
    color:#333333
}
.price-product-card {
    margin-top:32px;
    margin-bottom:32px;
    font-size:46px;
    color:#333333
}
.button-product-card {
    margin-right: 32px;
    width: 300px;
}